.navpage-layout {
    border: 15px solid red;
    animation: border-pulsate 2s infinite;
    
}

@keyframes border-pulsate {
    0%   { border-color: rgba(255, 0, 0, 1); }
    50%  { border-color: rgba(100, 0, 0, 1); }
    100% { border-color: rgba(255, 0, 0, 1); }
}
